@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hover-effects {
  background-color: darken($primary-color, 10%);
}
@mixin transition-duration {
  transition: 0.5s ease;
}
