$primary-color: #fc5620 !default;
$primary-alt-color: #262626 !default;
$body-font-color: $primary-alt-color !default;
$body-font-alt-color: #fff;

$navigation-bg: $primary-color !default;
$navigation-color: $primary-alt-color !default;
$footer-bg: #393D46;

$medium-up: 'screen and (min-width: 40.063rem)';
$large-up: 'screen and (min-width: 64.063rem)';

