.article {
  display: none;
}
// ///////////////////////////////////////////////////////////////////////////////////MEDIA QUERIES
@media #{$medium-up} {
  .article {
    padding: 4rem 6rem;
    display: block;
    &--title {
      font-family: 'Shadows Into Light', cursive;
      font-size: 3.6rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    &--text {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}
@media #{$large-up} {
  .article {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.33%;
    padding: 2rem;
    height: 16rem;
    &--title {
      font-size: 2.8rem;
    }
    &--text {
      font-size: 1.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__custom {
      height: auto;
      max-width: 100rem;
      margin: 0 auto;
      padding: 4rem 0;
    }
  }

}
