.footer {
  background-color: $footer-bg;
  padding: 1rem 0 2rem 0;
}
.fcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: $body-font-alt-color;
  &--copyrights {
    margin: 3rem 0 0;
  }
}
.infobox {
  @include flex-centered;
  flex-wrap: wrap;
  &--heading {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $body-font-alt-color;
    margin: 3rem 0 1rem 0;
    flex: 1 0 100%;
  }
  &--link {
    @include flex-centered;
    color: $body-font-alt-color;
    font-weight: 300;
    flex: 0 0 100%;
    margin: 0 .4rem;
    font-size: 1.2rem;
    &__border {
      border: 1px solid #fff;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      flex: 0 0 3rem;
    }
  }
  &--icon {
      font-size: 0;
      &:before {
        font-size: 1.6rem;
      }
    }
}
.subscribe {
  display: flex;
  max-width: 30rem;
  margin: 0 auto;
  &--email {
    display: flex;
    flex: 1;
    padding: 0 1rem;
  }
  &--submit {
    cursor: pointer;
    background-color: $primary-color;
    color: $body-font-alt-color;
    text-align: center;
    padding: 1rem;
    white-space: nowrap;
    flex: 0;
    display: flex;
  }
}
// ///////////////////////////////////////////////////////////////////////////////////MEDIA QUERIES
@media #{$medium-up} {
  .footer {
    .fcontainer {
    flex-direction: row;
      &--copyrights {
        flex: 1 0 100%;
        border-top: .1rem solid lighten($footer-bg,4%);
        padding-top: 1.5rem;
      }
    }
  }
  .infobox {
      flex: 1 1 33%;
    }

}
@media #{$large-up} {
  .footer {
    .fcontainer {
      max-width: 100rem;
      margin: 0 auto;
    }
  }
}
