.search-container {
  background-color: lighten($primary-alt-color, 20%);
  background: url('/img/steak-mobile.jpg') no-repeat center;
  background-position: 50% 50%;
  padding: 3rem 2rem;
  text-align: center;
  .wrapper {
    background-color: rgba($primary-alt-color, .6%);
    padding: 1.2rem 1rem;
  }
}
.search {
  font-size: 1.8rem;
  display: flex;
  line-height: 2.7;
  margin-bottom: 1rem;
  background-color: $body-font-alt-color;
  &--icon{
    color: $primary-color;
    font-weight: 600;
    position: absolute;
    left: 4rem;
  }
  &--input{
    font-size: 1.8rem;
    display: flex;
    flex: 1;
    padding: 0 0 0 3.5rem;
  }
  &--button {
    background-color: $primary-color;
    display: flex;
    padding: 0 1.2rem;
    text-align: center;
    color: $body-font-alt-color;
    i {
      padding-right: .5rem;
    }
  }
}
.userlocation {
  color: $body-font-alt-color;
  text-align: center;
  border: 2px solid $primary-color;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  display: block;
  &--icon {
    margin-right: .5rem;
    font-weight: 600;
    color: $primary-color;
  }
}
