<div class="toptitle">
  <a class="toptitle--link" href="">
    <i class="toptitle--circle icon-cities"></i>
    <span>Check the cities</span>
  </a>
</div>
<section class="cities">
  <a class="city" href="">
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city" href="">
    <h2 class="city--name">Chicago</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city" href="">
    <h2 class="city--name">Miami</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city" href="">
    <h2 class="city--name">New York</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-medium-up show-desktop-up" href="">
    <h2 class="city--name">Las Vegas</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <section class="article show-desktop-up">
    <h2 class="article--title">Something about steak</h2>
    <p class="article--text">Steak, in definition, is really quite simple. It doesn’t take a lot of work to make a good cut of steak good. A great steakhouse, however, takes steak to a whole new level with expertly cooked meats, a variety of complementary side items, a carefully designed atmosphere, and excellent service.
    </p>
  </section>
  <a class="city show-medium-up show-desktop-up" href="">
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img01.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a href="" class="showmore">show more</a>
</section>
<section class="article show-medium-up hide-desktop-up">
  <h2 class="article--title">Something about steak</h2>
  <p class="article--text">Steak, in definition, is really quite simple. It doesn’t take a lot of work to make a good cut of steak good. A great steakhouse, however, takes steak to a whole new level with expertly cooked meats, a variety of complementary side items, a carefully designed atmosphere, and excellent service.</p>
</section>

