<footer class="footer">
    <div class="fcontainer">
      <div class="infobox">
          <h4 class="infobox--heading">share with friends</h4>
          <a href="" class="infobox--link infobox--link__border"><i class="infobox--icon icon-facebook"></i></a>
          <a href="" class="infobox--link infobox--link__border"><i class="infobox--icon icon-google-plus"></i></a>
          <a href="" class="infobox--link infobox--link__border"><i class="infobox--icon icon-twitter"></i></a>
        </div>
        <div class="infobox">
          <h4 class="infobox--heading">contact us</h4>
          <a class="infobox--link" href="tel:+312 -573-0101">312 -573-0101</a>
        </div>
        <div class="infobox">
          <h4 class="infobox--heading">join our mailing list</h4>
          <form action="">
            <div class="subscribe">
              <input class="subscribe--email" type="email" placeholder="email...">
              <button class="subscribe--submit">Sign up</button>
            </div>
          </form>
        </div>
        <p class="fcontainer--copyrights">© Best Steak Restaurants 2016</p>
      </div>
</footer>
