<header class="topbar">
  <div class="logomobile">
    @@include('steak.svg')
    <span class="logomobile--name">BestSteakRestaurants</span>
  </div>
  <div class="hamburger">
    <div class="hamburger--icon"></div>
    <div class="hamburger--icon"></div>
    <div class="hamburger--icon"></div>
  </div>
  <nav class="topbar-nav">
    <ul class="menu">
      <li><a class="menu--link" href=""><i class="icon-home"></i><span>Home</span></a></li>
      <li><a class="menu--link" href=""><i class="icon-book-bookmark"></i><span>Menu</span></a></li>
      <li><a class="menu--link" href=""><i class="icon-steak"></i><span>Steak</span></a></li>
      <li><a class="menu--link" href=""><i class="icon-pen"></i><span>Blog</span></a></li>
      <li><a class="menu--link" href=""><i class="icon-steak"></i><span>Cuts of beef</span></a></li>
    </ul>
  </nav>
</header>
<nav>
  <ul id="navigation" class="navigation">
    <li><a class="navigation--link" href=""><i class="icon-home"></i><span>Home</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-book-bookmark"></i><span>Menu</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-steak"></i><span>Steak</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-pen"></i><span>Blog</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-steak"></i><span>Cuts of beef</span></a></li>
  </ul>
</nav>


