<header class="topbar">
  <div class="logo">
    @@include('steak.svg')
    <span class="logo--name">BestSteakRestaurants</span>
  </div>
  <div class="hamburger">
    <div class="hamburger--icon"></div>
    <div class="hamburger--icon"></div>
    <div class="hamburger--icon"></div>
  </div>
</header>
<nav>
  <ul class="navigation">
    <li><a class="navigation--link" href=""><i class="icon-home"></i><span>Home</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-book-bookmark"></i><span>Menu</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-steak"></i><span>Steak</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-pen"></i><span>Blog</span></a></li>
    <li><a class="navigation--link" href=""><i class="icon-steak"></i><span>Cuts of beef</span></a></li>
  </ul>
</nav>

