<div class="toptitle">
  <div class="toptitle--link">
    <i class="toptitle--circle icon-restaurant-menu"></i>
    <span>What we recommand</span>
  </div>
</div>
<section class="cities">
  <a class="city" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-medium-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-medium-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a class="city show-desktop-up" href="">
    <h2 class="city--name__uppercase">Erie Cafe</h2>
    <span class="city--border"></span>
    <h2 class="city--name">San Francisco</h2>
    <img class="city--image" src="/img/img02.jpg" alt="">
    <div class="city--mask"></div>
  </a>
  <a href="" class="showmore">show more</a>
</section>
<section class="article__custom">
  <h2 class="article--title">Neque porro quisquam est qui dolorem</h2>
  <p class="article--text">Purto audire sea ne, nulla dolores invenire per in. Minimum ponderum vis in. Habeo eirmod eu pro. Vix agam omnes deterruisset id, soluta dolorem accommodare ea nam, modo ancillae constituto mea id. Dissentias inciderint ad usu. Modo vitae mandamus mei. Et pro eirmod lucilius, an mei agam elitr nobis. Graeco oblique atomorum ex eam. No nonumes oporteat iracundia nam. Pri harum feugiat fastidii et, gloriatur adolescens cu nec, est ei vidisse euripidis instructior.</p>
  <p class="article--text">Purto audire sea ne, nulla dolores invenire per in. Minimum ponderum vis in. Habeo eirmod eu pro. Vix agam omnes deterruisset id, soluta dolorem accommodare ea nam, modo ancillae constituto mea id. Dissentias inciderint ad usu. Modo vitae mandamus mei. Et pro eirmod lucilius, an mei agam elitr nobis. Graeco oblique atomorum ex eam. No nonumes oporteat iracundia nam. Pri harum feugiat fastidii et, gloriatur adolescens cu nec, est ei vidisse euripidis instructior.</p>
</section>
