<section class="search-container">
  <div class="wrapper">
    <div class="logo">
      @@include('steak-colored.svg')
      <span class="logo--name">BestSteakRestaurants</span>
    </div>
    <div class="search">
      <i class="search--icon icon-location"></i>
      <input type="text" class="search--input" placeholder="Your location...">
      <a href="" type="submit" class="search--button"><i class="icon-zoom"></i>Search</a>
    </div>
    <div class="search">
      <i class="search--icon icon-chef"></i>
      <input type="text" class="search--input" placeholder="Pick a restaurant...">
      <a href="" type="submit" class="search--button"><i class="icon-zoom"></i>Search</a>
    </div>
    <a href="" class="userlocation">
      <i class="userlocation--icon icon-location"></i>
      <span>Show restaurants near IL</span>
    </a>
  </div>
</section>
