html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
p, a {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import 'objects/_variables';
@import 'objects/_mixins';
@import 'objects/_visibility';
@import 'objects/icons';
@import 'objects/header';
@import 'objects/search';
@import 'objects/cities';
@import 'objects/article';
@import 'objects/footer';
